table, td {
    border: 1px solid black;
  }
.space{
    margin-right: 20px;
    margin-left: 20px;
}
p.comment{
  border: double 2px;
  border-color: aqua;
}

#turnA{
  color: red;
}

#turnB{
  color: blue;
}